<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <!-- GIS datasource for polygon searches -->
    <bean id="gisDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost/regionlookup"/>
        <property name="username" value="postgres"/>
        <property name="password" value="password"/>
        <property name="initialSize" value="1"/>
        <property name="maxActive" value="25"/>
        <property name="maxIdle" value="10"/>
        <property name="maxWait" value="30000"/>
        <property name="poolPreparedStatements" value="true"/>
    </bean>
</beans>