body {
    font-size: 13px;
}

h1 {font-size: 2.0em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}

#content {
    margin-bottom: 20px;
}

.breadcrumb {
    background-color: inherit;
    margin: 0 0 5px 0;
    padding: 0;
}

.breadcrumb > li > .icon {
    color: #555555;
    opacity:0.6;
    filter:alpha(opacity=60);
    margin: 1px 4px 0;
}

#breadcrumb a.current {
    text-decoration: none;
    color: #333;
    cursor: default;
    background-image: none !important;
}

th, td {
    padding: .5em 5px;
    vertical-align: top;
}

p span.count {
    float: right;
}

.header-btns {
    padding-top:16px;
    padding-right:4px;
    text-align: right;
}

#page-header, #page-header2 {
    /*margin-bottom: 10px;*/
}

.tableList thead th {
    vertical-align: top;
}

.tableList {
    white-space: nowrap;
    max-width: none;
    width: auto;
    margin:0;
}

#public-specieslist .tableList {
    width: 100%;
}

#speciesList {
    margin-top: 20px;
}

#facets-column {
    margin-top: 5px;
}

#refine {
    margin-top: 22px;
    padding-top: 8px;
    border-top: 1px solid #ccc;
}

div#download {
    font-size: 13px;
}
#downloadForm {
    text-align: left;
}
#downloadForm label {
    color: #444444;
    font-size: 13px;
    display: inline-block;
    padding-right: 10px;
    text-align: right;
    width: 35%;
}
#download {
    line-height: 1.4em;
}
#downloadForm input  {
    float: none;
    margin-bottom: 2px;
    font-size: 13px;
}

#downloadForm select  {
    float: none;
    margin-bottom: 0px;
    font-size: 13px;
}

#termsOfUseDownload {
    text-align:left; padding-bottom:15px;
}

/*a.removeLink {*/
    /*display: inline-block;*/
    /*float: right;*/
/*}*/

#currentFilters {
    margin-bottom: 15px;
}


#currentFilters > ul {
    list-style: none;
    margin-left: 10px;
    padding-left:15px;
}

#currentFilters > ul > li {
    margin: 0px;
    padding: 0px;
    text-indent: -1.3em;
    margin-left: 0;
}

#currentFilters .tooltip {
    text-indent: 0;
}

.refine ul {
    list-style: none;
    margin-left: 10px;
}

.refine p {
    margin-bottom: 0;
}

.showHide {
    margin-left: -6px;
    font-size: 13px;
}

table.scrollTable {
    border: 1px solid #ccc;
    width: auto;
}

#content div.pagination span.gap {
    cursor: default;
}

table#editRecordTable {
    background-color: white;
}

td.dataField {
    padding-top: 10px;
}

td.dataValue > input[type="text"] {
    margin-bottom: 0;
    min-height: 28px;
}

.tableList .sortable {
     background: url('../images/sort_both.png') no-repeat center right;
 }
.tableList .sorted, .tableList .sorted.asc {
    background: url('../images/sort_asc.png') no-repeat center right;
}
.tableList .sorted.desc {
    background: url('../images/sort_desc.png') no-repeat center right;
}

#maxItems {
    height: 22px;
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 4px;
}