hgroup h1 {
    padding-top: 12px;
}
hgroup h2 {
    font-size: 1.6em;
}
div.results p {
    /*border-bottom:1px solid #d9d9d9;
    padding-bottom:.8em!important;*/
    padding-bottom: 0;
    height:100%;
}
div.resultSeparator {
    border-bottom:1px solid #d9d9d9;
    height: 4px;
    clear: both;
}
div.results h4 {
    font-size:1.2em;
    line-height: 1.8em;
    padding-top:.8em;
    font-family: Arial, Helvetica, sans-serif;
}
div.results p span {
    display:block;
}
body > .inner {
    padding-left: 4px;
}
.facetLinks {
    padding-left: 4px;
}
.facetLinks #facetIcon {
    margin-top: 3px;
}
.overrideHide {
    display: block !important;
}
a#toggleFacetDisplay,
a#toggleFacetDisplay:link,
a#toggleFacetDisplay:active,
a#toggleFacetDisplay:visited,
a#toggleFacetDisplay:hover {
    color: #333a3f;
    text-decoration: none;
}
.species div.col-wide.last {
    top: 0;
}
.attached h2 {
    font-size: 1.8em;
}
.attached {
    padding-top: 12px;
}
.subnavlist ul {
    list-style: none;
    padding: 0px 0px 10px 5px;
    margin: 0;
}
#accordion h3 {
    padding-bottom: 5px;
}
div#resultsStats {
    width: 50%;
    float: left;
    text-align: left;
}
div#sortWidget {
    text-align: right;
}
#dropdowns {
    padding-bottom: 10px;
    border-bottom: 1px solid #D9D9D9;
}

/* Search navigation links */
#searchNavBar {
    text-align:center;
    margin: 20px 0;
}
#searchNavBar ul,#searchNavBar ul li {
    display:inline-block;
    list-style:none;
}
#searchNavBar ul {
    /*float:right;*/
    width: 50%;
    position: relative;
    margin:0 auto;
    text-align: left;
}
#searchNavBar ul li a,#searchNavBar ul li.currentPage {
    display:inline-block;
    padding:0 5px;
    border:1px solid #01716e;
    text-decoration:none;
    /*float:left;*/
    margin:0 3px;
}
#searchNavBar ul li.currentPage {
    border-color:#ccc;
    color:#dd3102;
}
#searchNavBar ul li a:hover{
    border-color:#dd3102;
}
#prevPage a, #nextPage a {
    border:none!important;
}
#prevPage span, #nextPage span {
    color: #666;
    padding: 0 5px;
    margin: 0 3px;
}
.buttonDiv {
    display: inline-block;
    float: left;
    text-align: left;
    font-weight: bold;
    padding: 2px 5px;
    margin-top: -1px;
    margin-right: 5px;
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.buttonDiv a {
    text-decoration: none
}