ul.overviewImages {
    margin: 0;
}

ul.overviewImages li {
    list-style:none;
    margin: 0;
}

section.clearfix {
    clear: left;
}

body p, body ul {
    padding-bottom: 10px;
}

.species ul.tabs a {
    /*background-color: #333A3F;*/
    background-color: #3D464C;
    color: #D1D1D1;
    /*font-size: 13px;*/
}

ul.tabs a.current {
    background-color: #FFFFFF;
    border-bottom: 1px solid #FFFEF7;
    color: #333A3F;
    color: #DF4A21;
    cursor: default;
}

td[colspan="2"] {
    border-bottom: 1px solid #D1D1D1;
}