ul.overviewImages {
    margin: 0;
}

ul.overviewImages li {
    list-style:none;
    margin: 0;
}

section.clearfix {
    clear: left;
}

body p, body ul {
    padding-bottom: 10px;
}

td[colspan="2"] {
    border-bottom: 1px solid #D1D1D1;
}

div.rankCommonName {
    position: relative;
    width: 170px;
    font-size: 11px;
    line-height: 1.3em;
    background-color: #FFF;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid gray;
    -webkit-border-radius: 0 8px 8px 8px;
    -moz-border-radius: 0 8px 8px 8px;
    border-radius: 0 8px 8px 8px;
    -webkit-box-shadow: 4px 4px 4px #ccc;
    -moz-box-shadow: 4px 4px 4px #ccc;
    box-shadow: 4px 4px 4px #ccc;
}
#names table div.rankCommonName a {
    background: none;
    padding: 0;
}
.source ul {
    padding-bottom: 0;
}

.tooltip {
    display:none;
    background-color:#ffa;
    border:1px solid #cc9;
    padding:3px 6px;
    font-size:13px;
    text-align: center;
    -moz-box-shadow: 2px 2px 11px #666;
    -webkit-box-shadow: 2px 2px 11px #666;
}

#chartsHint {
    margin-bottom:15px;
}

#page-header hgroup h1 {
    padding-top: 6px;
    padding-bottom: 4px;
}

#page-header hgroup h2, table.bvp-expeditions div.button-nav h2 {
    font-size: 2.0em;
    padding-bottom: 0;
    max-width: 250px;
}
/* Extra CSS required to display the Categories in table.  */
table.status tr td {
   vertical-align: middle;
   padding:0;
}

span.category {
    background-color: #FFFFFF;
    border: 1px solid #3D464C;
    border-radius: 2em 2em 2em 2em;
    color: #333A3F;
    display: inline-block;
    font-variant: small-caps;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin: 6px 6px 6px 0;
    text-align: center;
    width: 40px;
}

.imageTitle { font-weight: bold; font-size: 13px; }
.imageMetadataField { font-weight: bold; }