/* --------------------------------------------------------------

   Boilerplate Screen Styles
   * Version:   0.5 (2007-11-19)

-------------------------------------------------------------- */

@import "lib/reset.css";
@import "lib/typography.css";
@import "lib/forms.css";
@import "lib/plugins/tabs.css";

/* ALA additions */
#page {
    margin: 0 auto;
    width: 950px;
}
body {
    margin: 0;
    font-size: 90%;
    color: #222;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #373737;
}
h1 {
    font-size: 150%;
    margin-bottom: 15px;
}
h2 {
    font-size: 140%;
    margin-bottom: 12px;
}
h3 {
    font-size: 130%;
    margin-bottom: 10px;
}
h4 {
    font-size: 110%;
    margin-bottom: 10px;
}
ul, ol {
    margin: 0 1.0em 0.5em 2em;
}
ul {
    list-style-type: disc;
}
a:focus, a:hover {
    color: #03C;
    text-decoration: underline;
}
a {
    color: #03C;
    text-decoration: none;
}
p {
    margin:0 0 0.8em;
}
td, th  {
    vertical-align: top;
}
/* header */
#header {
    margin: 6px 0 7px 0;
}
#searchTab input[type="text"] {
    margin: 0;
}
#menuSearch {
    float: right;
    /*margin-top: 60px;*/
    padding: 2px;
}
#page > #header > #menuSearch {
    margin-top: 58px;
}
#menuSearch input {
    font-size: inherit;
}
#headerTitle {
    position: absolute;
    top: 20px;
    width: 40%;
    margin-left: 280px;
    font-size: 24px;
    font-weight: normal;
    color: #4b4c4e;
}
#headerLogo img {
    margin-left: -4px;
}
#speciesTitle {
    float: left;
    background-color: #CBDAF0;
    width: 64%;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#speciesTitle h2 {
    margin: 5px 0 5px 0;
    color: #F26649;
}
#speciesPhoto {
    float: right;
    width: 33%;
    padding-left: 10px;
    text-align: right;
}
#speciesHeader {
    clear: both;
}
.speciesInfo a {
    color: inherit;
}
#LSID_icon {
    float: right;
    margin-top: -14px;
    text-align: right;
    padding-right: 2px;
    width: 8%;
}
a.lsidLink {
    display: none;
}
div#fancy_div {
    background-color: white;
    color: #333;
    /*font-size: 12px;*/
}
div#lsid {
    white-space: nowrap;
    padding: 5px;
    border: 1px solid #DDD;
}
div#fancy_div input {
    display: block;
    margin-top: 10px;
    font-size: 90%;
    width: 480px;
}
table.noBorders td {
    border: none;
}
p#sourceTitle {
    font-weight: bold;
    padding: 4px 2px 2px 4px;
    margin-bottom: 0;
    padding-left: 5px;
    background-color: #DDD;
}
#harvestedProperties {
    /*border-top: 1px solid gray;
    border-bottom: 1px solid gray;*/
    padding: 5px 0;
}
#harvestedProperties table.propertyTable {
    margin: 0;
}
#harvestedProperties table.propertyTable tr:first-child td {
    border-top: 2px solid #DDD;
}
td.propertyName {
    white-space: nowrap;
    max-width: 20%;
    min-width: 10%;
    color: #676767;
}
div#harvestedInfo tr.Taxonomic td:first-child {
    /*border-left: 3px solid #F68D77;*/
}
div#harvestedInfo tr.Status {

}
div#harvestedInfo tr.Media {
    /*background-color: #CBDAF0;*/
}
div#harvestedInfo tr.Names {

}
div#harvestedInfo tr.Geospatial {
    /*background-color: #FCD9D1;*/
}
p > a.showHideLink {
    margin: 0;
}
#searchBox {
    width: 500px;
    float: left;
    margin-top: 40px;
    margin-bottom: 20px;
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
}
#listsBox {
    width: 400px;
    float: right;
    margin-top: 40px;
    margin-bottom: 20px;
}
#searchBox input {
    font-size: 100%;
}
#portalInfo, #portalBookmark {
    /*display: none;*/
}
#portalInfo > div#left {
    width: 350px;
    float: left;
}
#mappanel {
    float: right;
    width: 550px;
    height: 450px;
}
table#cellCountsLegend {
    margin: 0;
    float: right;
    width: 100%;
}
#cellCountsLegend td {
    text-align: center;
    border: none;
    color: #000;
    padding: 3px 2px;
}
table.rdfProperties {
    margin-bottom: 0;
}
table.rdfProperties tr:last-child td {
    border-bottom: 1px solid white;
}
table.rdfProperties tr td:first-child {
    color: #777777;
}
#toc {
    width: 32%;
    /*float: right;*/
}
#toc ul, #portalInfo ul {
    margin-left: 1.2em;
    padding-left: 3px;
}
#toc ul {
    list-style-type: circle;
}
ul.compact {
    margin: 0 0 0 1.2em;
    padding-left: 3px;
    white-space: nowrap;
    list-style-type: circle;
}
.crop{
    float:left;
    /*margin:.5em 10px .5em 0;*/
    overflow:hidden; /* this is important */
    position:relative; /* this is important too */
    /*border:0px solid #ccc;*/
    margin-top: 5px;
    width:75px;
    height:75px;
}
.crop img {
    /*position:absolute;
    top:0px;*/
    margin-left:-20px;
    padding-right: 4px;
    padding-bottom: 4px;
}
.cropBig {
    float:left;
    /*margin:.5em 10px .5em 0;*/
    overflow:hidden; /* this is important */
    position:relative; /* this is important too */
    /*border:0px solid #ccc;
    margin-top: 5px;*/
    max-width:220px;
    max-height:220px;
}
/* input values to crop the image: top, right, bottom, left */
.cropBig img {
    /*position:absolute;
    top:0px;*/
    margin-left:-30px;
}

img.galleryImage {
    max-height: 400px;
    max-width: 640px;
}
/* top menu */
#topmenu .tabs {
    border-bottom: 0px solid #ddd;
    margin-left: 0px;
    font-size: 12px;
}
#topmenu .tabs li {
    margin-right: 1px;
}
#topmenu .tabs a {
    padding: 5px 15px;
    background-color: #ddd;
    color: #4b4c4e;
    text-decoration: none;
}
#topmenu .tabs li.first a {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
#topmenu .tabs li.last a {
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#topmenu .tabs li.active a {
    background-color: #bbb;
}
#topmenu .tabs li a:hover, #topmenu .tabs li.active a:hover {
    background-color: #4b4c4e;
    color: #fff;
}
#topmenu .tabs #searchTab {
    background: #fff;
    padding: 3px 10px;
}

/* footer */
#footer {
    clear: both;
    border-top: 1px solid #999;
    padding-top: 5px;
    color: #4b4c4e;
    font-size: 12px;
}
#footer #copy {
    float: right;
}
#footer a {
    color: #666;
}
#footer .tabs {
    margin-left: 5px;
}
#footer .tabs a {
    padding: 0px 30px 10px 0;
    color: #666;
    text-decoration: none;
}
#footer .tabs a:hover {
    text-decoration: underline;
}

/* Facet links */
#facetBar {
    float: right;
    width: 200px;
    padding: 10px;
    margin-top: -16px;
}
#facetBar ul {
    list-style-type: none;
    background-color: #CBDAF0;
    margin: 0px;
}
#facetBar ul#navlist {
    border-top: 1px solid #99B5E3;

}
#facetBar li {padding : 4px;
    padding-left: 10px;
    border: 1px solid #99B5E3;
    border-top: none;
    list-style-type: none;
}
#facetBar #subnavlist li {
    padding-left: 20px;
    background-color: #EBF1FA;
    list-style-type: none;
}
span#facetName {
    color: #F26649;
}
#removeFacet {
    display: block;
    padding: 10px;
    /*margin-top: 42px;
    margin-bottom: 10px;*/
    background-color: #D3E0EA;
    border: 1px solid #99B5E3;
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;*/
}
#removeFacet li {
    list-style-type: disc;
}
/* Misc changes to CSS */
div#body {
    margin: 20px 0 10px 0;
}
table.propertyTable {
    width: 100%;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD !important;
    font-size: 90%;
}
.propertyTable th {
    background-color: #DDD;
    border-right: 1px solid #FFF;
    border-bottom: none;
}
table.propertyTable {
    width: 100%;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD !important;
}
.propertyTable th, .propertyTable td {
    padding: 5px;
}
.resultTable ul {
    margin: 0;
}
.errorMessage {
    color: #F26649 !important;
}
div#results {
    margin-top: 20px;
    width: 720px;
}
h4.divider {
    border-top: 2px solid #DDD;
    padding-top: 8px;
    margin-top: 15px;
}

#exampleSeaches a {
    font-style: italic;
}

table.datasets {
    width: 750px;
    margin-left: 15px;
}

table.datasets td:first-child {
    width: 70%;
}
/* YUI modifications */
div.yui-dt > table {
    width: 100%;
}
div.yui-pg-container {
    font-size: 12px;
}
.yui-pg-current {
    font-size: 120%;
}
#yui-history-iframe {
    position:absolute;
    top:0; left:0;
    width:1px; height:1px; /* avoid scrollbars */
    visibility:hidden;
}
div#content div.yui-pg-container a {
    text-decoration:none;
}
div#content div.yui-pg-container a.yui-pg-previous {
    background:url(images/sprite.png) no-repeat 0 -550px;
    color:#FFF !important;
    width: 35px;
    height: 13px;
    margin-bottom:-5px;
}
div#content div.yui-pg-container a.yui-pg-next {
    background:url(images/sprite.png) no-repeat 0 -600px;
    color:#FFF !important;
    width: 35px;
    height: 13px;
    margin-bottom:-5px;
}
div#content div.yui-pg-container a.yui-pg-previous span,
div#content div.yui-pg-container a.yui-pg-next span {
    display:none;
    padding:1px 5px;
    margin-left: -10px;
    margin-top: 20px;
    font-size: 11px;
    /*width:130px;*/
}
div#content div.yui-pg-container a.yui-pg-previous:hover span,
div#content div.yui-pg-container a.yui-pg-next:hover span {
    display:inline;
    position:absolute;
    background:#ddd;
    border:1px solid #cccccc;
    color:#444;
}
div#content div.yui-pg-container span.yui-pg-previous span,
div#content div.yui-pg-container span.yui-pg-next span {
    display:none;
}

div#content div.yui-pg-container span.yui-pg-previous {
    background: url(images/sprite.png) no-repeat 0 -1950px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: #FFF !important;
    width: 35px;
    height: 13px;
    margin-bottom: -5px;
}
div#content div.yui-pg-container span.yui-pg-next {
    background: url(images/sprite.png) no-repeat 0 -2000px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: #FFF !important;
    width: 35px;
    height: 13px;
    margin-bottom: -5px;
}
div.datatable-summary {
    width: 635px;
    /*text-align: center;*/
    margin-top: -6px;
    margin-bottom: -14px;
}
td .yui-dt-liner {
    width: 97%;
    height: 20px;
    line-height: 1.4em;
    overflow: hidden;
    position: relative
}
.yui-skin-sam div.yui-navset div.yui-content {
    background: white;
    padding: 10px;
}