/* 
    Document   : speciesPage
    Created on : Jul 7, 2010, 10:20:47 AM
    Author     : "Nick dos Remedios <Nick.dosRemedios@csiro.au>"
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

table.propertyTable {
    width: 100%;
    /*border-left: 1px solid #DDD;
    border-right: 1px solid #DDD !important;
    font-size: 90%;*/
}
table.propertyTable td:first-child  {
    font-weight: bold;
    text-align: right;
}
table.propertyTable2 td:first-child  {
    font-weight: bold;
    text-align: left;
}
table.propertyTable th, table.propertyTable td {
    vertical-align: top;
}
table.propertyTable th {
    border-bottom:4px solid #DDDDDD;
    font-weight:bold;
}
table.propertyTable th, .propertyTable td {
    padding: 5px;
}
.taxaCrumb {
    background-color:#e8eace;
    padding: 0 15px 8px 15px !important;
    margin: 0;
}
#rank {
    font-size: 1.2em;
    padding-top:5px;
    text-transform: capitalize;
}
#infoSourceList { 
    background-color: #E8EACE;
    padding: 10px;
    -moz-border-radius: 0 0 10px 10px; /* FF1+ */
    -webkit-border-radius: 0 0 10px 10px; /* Saf3+, Chrome */
    border-radius: 0 0 10px 10px; /* Opera 10.5, IE 9 */
}
#infoSourceList h3 { padding: 3px 0 10px 0; }
li#currentTaxonConcept {
    list-style-image:  url('images/right-arrow.gif');
}
#currentTaxonConcept span {
    color: #DD3102;
    font-weight: bold;
}

#classificationList ul {
    margin-left: 15px;
}

img.favoriteIcon {
/*    float: left;*/
    margin-right: 4px;
}